In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('output_test/total_rewards.csv', header=None)

In [14]:
df

,0,1,2
0,benchmarks_train,total_reward_Q115,-1132919355
1,benchmarks_train,total_stock_out_reward_Q115,-1067848365
2,benchmarks_train,total_inventory_reward_Q115,-65070990
3,benchmarks_train,total_reward_B120BP,-105567739
4,benchmarks_train,total_stock_out_reward_B120BP,-289255
...,...,...,...
121,ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...,total_stock_out_reward_Q3015,-1395160
122,ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...,total_inventory_reward_Q3015,-3886
123,ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...,total_reward_Q3015,-240220280
124,ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...,total_stock_out_reward_Q3015,-240191345
125,ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...,total_inventory_reward_Q3015,-28935

In [25]:
for reward in df[1].unique():
    if 'Q115' in reward:
        tmp = df[df[1]==reward]
        print(reward)
        print(tmp.sort_values(by=[2], ascending=False)[[0,2]])

total_reward_Q115
                                                    0           2
21                                    benchmarks_test    -4486623
42  dqn_episod_100000_trgt1000_env1_hlyr64_32_lstm...    -7601318
48  ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...   -12560003
45  dqn_episod_100000_trgt1000_env1_hlyr64_32_lstm...  -518671856
51  ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_... -1034793157
0                                    benchmarks_train -1132919355
total_stock_out_reward_Q115
                                                    0           2
43  dqn_episod_100000_trgt1000_env1_hlyr64_32_lstm...           0
22                                    benchmarks_test     -707675
49  ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...   -10579815
46  dqn_episod_100000_trgt1000_env1_hlyr64_32_lstm...  -109175500
52  ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_... -1027767035
1                                    benchmarks_train -1067848365
total_inventory_reward_Q115
                                                    0          2
50  ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...   -1980188
23                                    benchmarks_test   -3778948
53  ep_100000_hlyr512_256_128_64_lstm_128_dmnd_12_...   -7026122
44  dqn_episod_100000_trgt1000_env1_hlyr64_32_lstm...   -7601318
2                                    benchmarks_train  -65070990
47  dqn_episod_100000_trgt1000_env1_hlyr64_32_lstm... -409496356